body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1c1c1c; /* Dark background color */
  color: #fff; /* Text color */
}

header {
  background-color: #ff2e63; /* Red header background color */
  color: #fff;
  padding: 1em;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.project {
  border: 2px solid #ff2e63; /* Red border for project sections */
  border-radius: 15px;
  margin: 1em;
  padding: 1em;
  text-align: center;
  background-color: #2c2c2c; /* Dark background color for project sections */
}

.testimonials {
  text-align: center;
  margin-top: 2em;
}

.testimonial {
  background-color: #2c2c2c; /* Dark background color for testimonials */
  border: 2px solid #ff2e63; /* Red border for testimonials */
  border-radius: 15px;
  padding: 1em;
  margin: 1em;
}

footer {
  background-color: #ff2e63; /* Red footer background color */
  color: #fff;
  padding: 1em;
  text-align: center;
}
